#show, #color, #seinfeld, #results, #css, #html, #php, #ruby, #amuse {
  display: none;
}

#lang, #results, #output {
  text-align: center;
}
.images {
  text-align: center;
}

.jumbotron {
  background-color: red;
}

.radio {
  margin-left: 3em;
}

.headertext {
  color: white;
}
